*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    font-family: sans-serif;
    background: #000 !important;
    color: #fff;
}


button{
    padding: .5rem 2rem;
    color: #fff;
    background: rgb(43, 43, 151);
    font-size: 1.7rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.app{
    width: 100%;
    max-width: 1920px;
    height: 100%;
}

.welcome{
    margin-top: 4rem;
}

.welcome-box{
text-align: center;
padding: 1rem;
width: 60%;
background: #2a26267d;
margin: auto;
border: 2px solid #2a26267d;
}

.welcome-box input{
    width: 100%;
    padding: 1rem;
    background: #2a26267d;
    border: 2px solid #2a26267d;
    outline: none;
    color: #fff;
}

.welcome button{
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
}

.alert{
    padding: .4rem;
    margin: auto;
    width: fit-content;
    background: rgba(255, 0, 0, 0.089);
    border: 1px solid red !important;
    overflow: hidden;
}

.dashboard{
    background: #000; 
}
.d-con{
    border-top: 2px solid #2a26267d;
}

.nav{
    padding-top: 1rem;
    background: #2a26267d;
    width: 20%;
    min-height: 100vh;
    gap: 2rem;
}

.nav .nav-link{
    text-align: left;
   font-size: 1.2rem;
   font-weight: 600;
   color: #fff;
} 


.dashboard .tab-content{
    width: 80%;
}


@media screen and (max-width: 768px) {
    .welcome-box{
        width: 90%;
        }
}




