.articles{
    min-height: 100vh;
}

.articles-flex{
    margin: 3rem 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}


.article-box{
    width: 100%;
    padding: 1rem;
    height: auto;
    background: #2a26267d;
    color: #fff;
    
}

.a-btns{
    display: flex;
    gap: 1rem;
}

.article-box h4{
    text-decoration: none;
    
}

.article-box button{
    border-radius: .5rem;
}