
.show-articles{
    padding-bottom: 8rem;
    width: 60%;
    min-height: 100vh;
    margin: auto;
  }
  
  .sa-flex{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .sa-flex h2{
    font-size: 2.3rem;
    font-weight: 900;
  }
  
  .sa-flex small{
    color: var(--text-low);
  }
  
  .sa-flex .content{
    color: var(--text-high);
    line-height: 2rem;
    font-size: 1.1rem;
  }
  
  
  
  @media screen and (max-width: 1200px){
    .show-articles{
      width: 90%;
    }
  }
  
  @media screen and (max-width: 868px){
    .show-articles{
      width: 100%;
    }
    .sa-flex h2{
      font-size: 2rem;
    }
  }
  